<h1><%= @user.username %>'s Heroes</h1>

<% @hero.each do |hero| %>
  <%@current_room = Room.find(hero.room_id)%>
  <p>Name: <%= hero.name %></p>
  <p>Description: <%= hero.description %></p>
  <p>Map: <%= Map.find(@current_room.map_id).title %></p>
  <p>Current Room: <%=@current_room.title%></p>

<% end %>
