<div id="dialog-form" class='no-close'>
  <!-- <p class="validateTips">All form fields are required.</p> -->
  <%= form_for [@user, @map] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.hidden_field :creator_id, :value => @user.id %>
  <% end %>
</div>

<div id='gameboard'>
  <div id="cells">
      <div class="clickable grid-cell row-1 col-1"></div>
      <div class="clickable grid-cell row-1 col-2"></div>
      <div class="clickable grid-cell row-1 col-3"></div>
      <div class="clickable grid-cell row-1 col-4"></div>
      <div class="clickable grid-cell row-1 col-5"></div>
      <div class="clickable grid-cell row-2 col-1"></div>
      <div class="clickable grid-cell row-2 col-2"></div>
      <div class="clickable grid-cell row-2 col-3"></div>
      <div class="clickable grid-cell row-2 col-4"></div>
      <div class="clickable grid-cell row-2 col-5"></div>
      <div class="clickable grid-cell row-3 col-1"></div>
      <div class="clickable grid-cell row-3 col-2"></div>
      <div class="clickable grid-cell row-3 col-3"></div>
      <div class="clickable grid-cell row-3 col-4"></div>
      <div class="clickable grid-cell row-3 col-5"></div>
      <div class="clickable grid-cell row-4 col-1"></div>
      <div class="clickable grid-cell row-4 col-2"></div>
      <div class="clickable grid-cell row-4 col-3"></div>
      <div class="clickable grid-cell row-4 col-4"></div>
      <div class="clickable grid-cell row-4 col-5"></div>
      <div class="clickable grid-cell row-5 col-1"></div>
      <div class="clickable grid-cell row-5 col-2"></div>
      <div class="clickable grid-cell row-5 col-3"></div>
      <div class="clickable grid-cell row-5 col-4"></div>
      <div class="clickable grid-cell row-5 col-5"></div>
    </div>
</div>

<div id="room-form-container">
</div>



<!-- @row = number of rows we want
@col = same w cols

(1..@row).each do |x|
    (1..@col).each do |y|
      <div class = "row-x col-y"></div>
    end
end -->
