<div id="dialog-form" class='no-close'>
  <!-- <p class="validateTips">All form fields are required.</p> -->
  <%= form_for [@user, @map] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.hidden_field :creator_id, :value => @user.id %>
  <% end %>
</div>

<div id='gameboard'>
  <h1>Gameboard here!</h1>
</div>
