<div id="dialog-form" title="New Map Info" class='no-close'>
  <%= form_for [@user, @map] do |f| %>
    <%= f.label :title, "Map Title:" %>
    <%= f.text_field :title %>
    <br><%= f.label :description, "Map Description:" %>
    <%= f.text_area :description %>
    <%= f.hidden_field :creator_id, :value => @user.id %>
  <% end %>
</div>
<div id='message' class="centered"></div>
<div id="map-creation">
  <div id='gameboard'>
    <div id="cells">
      <div id="row-1">
        <div class="clickable grid-cell row-1 col-1"></div>
        <div class="clickable grid-cell row-1 col-2"></div>
        <div class="clickable grid-cell row-1 col-3"></div>
        <div class="clickable grid-cell row-1 col-4"></div>
        <div class="clickable grid-cell row-1 col-5"></div>
      </div>

      <div id="row-2">
        <div class="clickable grid-cell row-2 col-1"></div>
        <div class="clickable grid-cell row-2 col-2"></div>
        <div class="clickable grid-cell row-2 col-3"></div>
        <div class="clickable grid-cell row-2 col-4"></div>
        <div class="clickable grid-cell row-2 col-5"></div>
      </div>

      <div id="row-3">
        <div class="clickable grid-cell row-3 col-1"></div>
        <div class="clickable grid-cell row-3 col-2"></div>
        <div class="clickable grid-cell row-3 col-3"></div>
        <div class="clickable grid-cell row-3 col-4"></div>
        <div class="clickable grid-cell row-3 col-5"></div>
      </div>

      <div id="row-4">
        <div class="clickable grid-cell row-4 col-1"></div>
        <div class="clickable grid-cell row-4 col-2"></div>
        <div class="clickable grid-cell row-4 col-3"></div>
        <div class="clickable grid-cell row-4 col-4"></div>
        <div class="clickable grid-cell row-4 col-5"></div>
      </div>

      <div id="row-5">
        <div class="clickable grid-cell row-5 col-1"></div>
        <div class="clickable grid-cell row-5 col-2"></div>
        <div class="clickable grid-cell row-5 col-3"></div>
        <div class="clickable grid-cell row-5 col-4"></div>
        <div class="clickable grid-cell row-5 col-5"></div>
      </div>
    </div>
  </div>

  <div id="map-creation-side-panel">
    <div id="room-form-container">
    </div>

    <div id='finish-map'><button>Done Adding Rooms</button></div>

    <div id="back-or-play"><a href="/games/new">Play Your Game!</a><a href="/users/<%= @user.id %>">Back</a></div>
  </div>
</div>