<% if current_user %>

  <h1><%= @user.username %>'s Profile</h1>

  <%= link_to "Games", all_games_path(@user) %>

  <%= link_to "My Maps", user_maps_path(@user) %>

  <%= link_to "Create a Map", new_user_map_path(@user) %>

  <%= link_to "Edit User Information", edit_user_path(@user) %>

  <%= link_to "Check out your Heroes", user_heros_path(@user) %>

<% else %>
  <h1>You must log in to see this page.</h1>
  <%= link_to "Home", root_path %>

<% end %>


