<h1>Ready to Adventure, <%= current_user.username %>?</h1>
<div class="link-list-container">
  <p class = "link_list"><%= link_to "games", all_games_path %></p>

  <p class = "link_list"><%= link_to "my maps", user_maps_path(current_user) %></p>

  <p class = "link_list"><%= link_to "my heroes", user_heros_path(current_user) %></p>

  <p class = "link_list"><%= link_to "create a map", new_user_map_path(current_user) %></p>

  <p class = "link_list"><%= link_to "edit account information", edit_user_path(current_user) %></p>
  <%= image_tag("puking_dude.png", id: "puking-dude")%>
</div>
