<!DOCTYPE html>
<html>
<head>
  <title>DragonBlaster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <p><%= link_to 'Dragon Blaster', root_path %></p>
    <ul>
      <% if current_user %>
        <li><%= link_to 'Sign-Out',  session_path(current_user), method: :delete %></li>
      <% else %>
        <li><%= link_to 'Register', new_user_path %></li>
        <li><%= link_to 'Sign-In', new_session_path %></li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
